* {
    margin: 0;
    padding: 0;
}
.wrapper {
    width: 940px;
    max-height: 90%;
    margin: 0 auto;
}

/* Navigation */
#navigation {

    position: fixed;
    top: 0;
    z-index: 10;

    width:100%;
    height: 100px;
    background-color: rgba(250,250,250,0.8);

}
h1 {
    color: #3385ff;
    font-family: sans-serif;
    margin-top: 20px;
    font-size: 3em;
    text-align: center;
}
#menu{
    position: fixed;
    right: 50px;
}
#menu a{
    color:#068376;
    text-decoration: none;
    border-radius: 10px;
    font-size: 17px;

}
#banner {
    width: 100%;
    height: 500px;
    z-index: 0;
    background:  url(pic1.jpeg);
    background-size:cover

}

/* content */
#functions{
    padding-top: 30px;
    width: 100%;
    z-index: 0;
}
.container {
    width: 100%;
    display: flex;
    flex-direction:row;
    justify-content: center;
}
.container a{
    border: solid 2px;
    border-radius: 5px;
    margin: 5px;
    font-size: 30px;
    text-decoration: none;
    background-color: #e04d46;
    color: black;
    width: 120px;
    text-align: center;
}

.container2 {
    background-color: khaki;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5px;
}

.buttons-group1 {
    margin-right: 5px;;

}

.buttons-group1 a {
    background-color: #b84640;
    border: 1px solid black;

    color: white;

    padding: 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 71.5px;
    font-size: 16px;
    cursor: pointer;
    float: left;
}

.buttons-group1 a:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

.buttons-group1 :active{
    background-color: green;
}

.buttons-group .button {
    background-color: #858585;
    border: 1px solid black;
    color: white;
    padding: 1px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width: 150px;
    display: block;
    margin-right: 5px;

}

.buttons-group .button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}




