<!DOCTYPE html>
<html lang="de">
<head>
    <link rel="stylesheet" href='/static/stylemain.css'   />
    <title>LED-Steuerung</title>

</head>
<body>
    <div id="navigation">

        <div class="wrapper">

            <h1>LED-Steuerung
            </h1>
            <p id="menu">
                <a href="einstellungen">Einstellungen
                </a>
            </p>
        </div>
    </div>

    <div id="banner">

    </div>

    <div id="functions">

        <div class="wrapper">

            <div class="container">
                <a href="on">Tur On</a>
                <a href="reset">Reset</a>
            </div>

            <div class="container2">

                <div class ="buttons-group">
                    <button class="button">Fade_RGB</button>
                    <div class ="buttons-group1">
                        <a href="/fadeRGB">Strip1</a>
                        <a href="#">Strip2</a>
                    </div>
                </div>

                <div class ="buttons-group">
                    <button class="button">TheaterChase</button>
                    <div class ="buttons-group1">
                        <a href="/theaterChase">Strip1</a>
                        <a href="#">Strip2</a>
                    </div>
                </div>

                <div class ="buttons-group">
                    <button class="button">Wheel</button>
                    <div class ="buttons-group1">
                        <a href="/wheel">Strip1</a>
                        <a href="#">Strip2</a>
                    </div>
                </div>

                <div class ="buttons-group">
                    <button class="button">Rainbow</button>
                    <div class ="buttons-group1">
                        <a href="#">Strip1</a>
                        <a href="#">Strip2</a>
                    </div>

                </div>

            </div>

        </div>

    </div>

</body>
</html>