<!DOCTYPE html>
<head>
   <title>RPiWebServer</title>
   <!-- Latest compiled and minified CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
   <!-- Optional theme -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
   <!-- Latest compiled and minified JavaScript -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>

<body>
<div class="jumbotron text-center">
  <h1>LED Web Server</h1>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
       <a href="/on" class="btn btn-lg btn-block btn-primary" role="button">Turn on</a>
    </div>
    <div class="col-lg-4">
      <a href="/off" class="btn btn-lg btn-block btn-primary" role="button">Turn off</a>
    </div>
    <div class="col-sm-4">
      <a href="/reset" class="btn btn-lg btn-block btn-primary" role="reset">Rainbow</a>
    </div>
  </div>
</div>

<div class="btn-group">
  <div class="col-md-3">.<div><a href="/rainbow" class="btn btn-lg btn-block btn-primary" role="button">Rainbow</a></div></div>
  <div class="col-md-3">.<div><a href="/Wheel" class="btn  btn-lg btn-block btn-primary" role="button">Wheel</a></div></div>
  <div class="col-md-3">.<div><a href="/random" class="btn  btn-lg btn-block btn-primary" role="button">random</a></div></div>

</div>
<form action="/colorpicker" method="post">
   <label for="favcolor">Select your favorite color:</label>
   <input type="color" id="favcolor" name="favcolor" value="#ff0000">
   <input type="submit" value="Submit">
</form>


</body>
</html>