<!DOCTYPE html>
<html lang="de">
<head>
    <title>LED-Steuerung</title>
    <link href="style1.css" rel="stylesheet" type="text/css">
</head>


<body>
    <div class="col-4">
        <div class ="header">
            <h1>Smarthome</h1>
            <button>"Datum"</button>
        </div>
    </div>
    <div class="row">
      <div class="col-3 menu">
        <ul>
          <li><a href="/main">Hauptmenü</a></li>
          <li><a href="{{ url_for('licht')}}">Licht</a></li>
          <li><a href="/flower">Pflanzen</a></li>
          <li><a href="/heat">Heizung</a></li>
          <li><a href="/temp">Innentemperatur</a></li>
          <li><a href="/tempout">Außentemperatur</a></li>
          <li><a href="/options">Einstellungen</a></li>
        </ul>
      </div>

      <div class="col-9">
        <h1>Center</h1>
        <p>"Hauptfunktion der jeweiligen Seite"</p>
      </div>
      <div class="col-2">
      </div>
      <div class="col-12">
      </div>

    </div>

</body>
</html>
